<a href="https://colab.research.google.com/github/ashishsantikari/lab-control-flow-en/blob/master/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Words

In [3]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [6]:
# your code here
for w in words:
  print(w.upper())

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

**Create a new list containing only words with 5 or more letters**

In [7]:
# your code here
words_with_5_or_more_letters = []
for w in words:
  if len(w) >= 5:
    words_with_5_or_more_letters.append(w)

**Print the first word starting with "t"**

In [8]:
# your code here
for w in words:
  if w[0] == 't':
    print(w)
    break

theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [14]:
# your code here
squares = []
for i in range(1, 11):
  squares.append(i**2)

**Print a list containing the square of every odd number from 1 to 10**

In [15]:
# your code here
squares_of_odd_numbers = []
for i in range(1, 11):
  if (i%2 != 0):
    squares_of_odd_numbers.append(i**2)

print(squares_of_odd_numbers)

[1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [17]:
# your code here
squares_of_multiples_of_8 = []
for num in range(8,1001, 8):
  squares_of_multiples_of_8.append(num**2)

print(squares_of_multiples_of_8)

[64, 256, 576, 1024, 1600, 2304, 3136, 4096, 5184, 6400, 7744, 9216, 10816, 12544, 14400, 16384, 18496, 20736, 23104, 25600, 28224, 30976, 33856, 36864, 40000, 43264, 46656, 50176, 53824, 57600, 61504, 65536, 69696, 73984, 78400, 82944, 87616, 92416, 97344, 102400, 107584, 112896, 118336, 123904, 129600, 135424, 141376, 147456, 153664, 160000, 166464, 173056, 179776, 186624, 193600, 200704, 207936, 215296, 222784, 230400, 238144, 246016, 254016, 262144, 270400, 278784, 287296, 295936, 304704, 313600, 322624, 331776, 341056, 350464, 360000, 369664, 379456, 389376, 399424, 409600, 419904, 430336, 440896, 451584, 462400, 473344, 484416, 495616, 506944, 518400, 529984, 541696, 553536, 565504, 577600, 589824, 602176, 614656, 627264, 640000, 652864, 665856, 678976, 692224, 705600, 719104, 732736, 746496, 760384, 774400, 788544, 802816, 817216, 831744, 846400, 861184, 876096, 891136, 906304, 921600, 937024, 952576, 968256, 984064, 1000000]

## People

In [19]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [20]:
# your code here
len(people)

5

**How many people have kids**?

In [22]:
# your code here
count = 0
for person in people:
  if person['n_kids'] > 0:
    count += 1

print(count)

4

**How many kids do they have in total?**

In [23]:
# your code here
count = 0
for person in people:
  count += person['n_kids']

print(count)

10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [24]:
# your code here
people_next_year = []
for person in people:
  new_person = person.copy()
  if new_person['name'][-1] == 'a':
    new_person['n_kids'] += 1
  people_next_year.append(new_person)

print(people_next_year)

[{'name': 'Juan', 'age': 34, 'n_kids': 2}, {'name': 'Pepe', 'age': 27, 'n_kids': 0}, {'name': 'Sonia', 'age': 41, 'n_kids': 2}, {'name': 'Lucía', 'age': 22, 'n_kids': 3}, {'name': 'Leo', 'age': 55, 'n_kids': 5}]